<div class="container">
    <div class="row">
        <form class="form-inline" novalidate #form="ngForm" (submit)="kullanicilariYukle()" id="aramaFormu">
            <div class="form-group">
                <label for="kullaniciAdi">Ad Soyad</label>
                <input type="text" placeholder="Adı, soyadı ..." class="form-control>" id="aramaCumlesi" name="aramaCumlesi" [(ngModel)]="sorgu.aramaCumlesi">
            </div>
            <div class="form-group">
                <label for="sayfaBuyuklugu">Sayfa büyüklüğü</label>
                <select id="sayfaBuyuklugu" class="form-control" name="sayfaBuyuklugu" [(ngModel)]="sorgu.sayfaBuyuklugu" (change)="kullanicilariYukle($event)">
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="80">80</option>

                </select>
            </div>
            <button class="btn btn-primary btn-med" type="submit">Aramayı Başlat</button>
            <button class="btn btn-default btn-med" type="button" (click)="tumKullanicilariYukle()"> Hepsini Göster</button>
            <div class="pull-right">
                <label id="kullaniciSiralama">Sırala:</label>
                <div class="btn-group">
                    <button class="btn btn-primary" [(ngModel)]="sorgu.siralamaCumlesi" btnRadio="AdSoyad" type="button" name='siralamaCumlesi' (click)="kullanicilariYukle()" >Adı soyadına göre</button>
                    <button class="btn btn-primary" [(ngModel)]="sorgu.siralamaCumlesi" btnRadio="Yas" type="button" name='siralamaCumlesi' (click)="kullanicilariYukle()">Yaşa göre</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="row esit">
        <div *ngFor="let kullanici of kullanicilar.donenListe" class="col-xs-4 col-md-2">
            <app-kullanici-karti [kullanici]="kullanici"></app-kullanici-karti>
        </div>
    </div>
</div>
<div class="text-center">
    <pagination [boundaryLinks]="true" [totalItems]="kullanicilar.kayitSayisi" [(ngModel)]="sorgu.sayfa" [itemsPerPage]="sorgu.sayfaBuyuklugu"
        (pageChanged)="pageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;"></pagination>
</div>
<div class="container">
    <p>Toplam sayfa sayısı:
        <span class="toplamSayfa">{{kullanicilar.sayfaSayisi}}</span>, gösterilen sayfa:
        <span class="aktifSayfa"> {{kullanicilar.sayfa}} </span>. Kriterlere uyan toplam {{kullanicilar.kayitSayisi}} kullanıcı var.</p>

</div>