
.kullaniciListesi {

    margin-top:20px;
}
.esit {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}
#aramaFormu {
left:50px;
margin-bottom: 30px;

}
#aramaCumlesi{
width:  150px;

}
.toplamSayfa{
    color:red;
}

 .aktifSayfa{
    color:blue;
}