.dropdown-menu li .dropdown-toggle {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}
.active {

    font-weight: 700;
    border-bottom: solid orangered 3px ;
}