<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <h3>Üyelik başvurunuz tamam</h3>
            <p>
                Üyelik isteğiniz sisteme kaydedildi. Kısa bir süre içinde belirttiğiniz eposta adresine bir mesaj gönderilecektir. Lütfen
                ilgili eposta adresinizin gelen kutusuna bakın, gelen mesajda üyelik işleminizi aktifleşmesi için gerekn
                işlemler olacaktır.
            </p>
            <p>Bu işlemleri gerçekleştirdikten sonra üyeliğiniz aktifleşecektir.</p>
        </div>
        <div class="alert alert-warning">
            <button type="submit" class="btn btn-default" 
                (click)="aktivasyonEkraniniAc()">Eposta Aktivasyonu</button>

        </div>
    </div>
</div>