.panel-primary{
    border:none;
}
.chat {
    list-style: none;
    margin:0;
    padding: 0;
}

.img-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.panel-body {
    overflow-y: scroll;
    height: 600px;
}
.panel-footer {
    margin-top: 10px;
}

.giden-mesaj {
font-size: 0.7em;
color: green;

}
.gelen-mesaj {
    font-size: 0.7em;
    color: blue;
    
    }

    .gonderen{
font-size: .7em;

    }