<div class="container">

    <div *ngIf="arkadasliklarim.donenListe?.length>0">

        <div class="container">
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-primary" [(ngModel)]="filtre" btnRadio="gelenTeklifler" (click)="filtrele()">Bana yapılan teklifler</button>
                    <button class="btn btn-primary" [(ngModel)]="filtre" btnRadio="gidenTeklifler" (click)="filtrele()">Teklif Ettiklerim</button>
                </div>
            </div>
        </div>
        <div class="row equal">
            <div *ngFor="let teklif of gosterilenArkadasliklarim.donenListe" class="col-lg-2 col-md-3 col-sm-6">
                <app-kullanici-karti [kullanici]="teklif.teklifEden" ngDefaultControl></app-kullanici-karti>
            </div>
        </div>
    </div>

    <div *ngIf="!arkadasliklarim.donenListe || arkadasliklarim.donenListe?.length==0">
        <h3>Hiç arkadaşlığınız yok!</h3>
    </div>
</div>
<div class="text-center">
    <div class="col-xs-12 col-12">
        <pagination [boundaryLinks]="true" [totalItems]="arkadasliklarim.kayitSayisi" [(ngModel)]="arkadasliklarim.sayfa" [itemsPerPage]="arkadasliklarim.sayfaBuyuklugu" 
        (pageCahanged)="pageChanged($event)" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
</div>