<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel-image mx-auto">
            <img src="{{kullanici.profilFotoUrl?kullanici.profilFotoUrl:bosFotoUrl}}" alt="{{kullanici.tamAdi}}">
            <ul class="list-inline kullanici-ikonlari animate">
                <li>
                    <button class="btn btn-primary btn-sm" [routerLink]="['/kullanicilar/',kullanici.id]">
                        <i class="fa fa-user"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-primary btn-sm" type="button" (click)="teklifEt(kullanici.id)">
                        <i class="fa fa-heart"></i>
                    </button>
                </li>
                
            </ul>
        </div>
        <div class="text-center">
            <!-- <h5><i class="fa fa-user"></i>{{kullanici.kullaniciAdi}} ({{kullanici.yasi}})</h5> -->
            <small>{{kullanici.tamAdi}} </small>
        </div>
    </div>
</div>