<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1> Profiliniz</h1>
        </div>
        <div class="col-md-8">
            <div class="alert alert-info" [hidden]="!editForm.dirty"> <strong>Dikkat!</strong> Profil bilgilerinde değişklik yaptınız. Kaydetmediğiniz bilgilerin kaybolacağını unutmayın.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <img class="profile-image thumbnail" src="{{kullanici?.asilFotoUrl}}" alt="{{kullanici?.kullaniciAdi}}">
                <div class="panel-body">

                    <div>
                        <strong>Eposta</strong>
                        <p>{{kullanici?.eposta}}</p>
                    </div>
                    <div>
                        <strong>Telefonu</strong>
                        <p>{{kullanici?.telefonNumarasi}}</p>
                    </div>
                    <div>
                        <strong>Son aktif olduğu tarih</strong>
                        <p>{{kullanici?.sonaktifOlma}}</p>
                    </div>
                    <div>
                        <strong>Üye olduğu tarih</strong>
                        <p>{{kullanici?.yaratilmaTarihi}}</p>
                    </div>
                </div>
                <div class="panel-footer">
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Kaydet</button>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="kullanici-tabset">
                    <tab heading="Profil Bilgileri">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="kaydet()">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="unvan">Ünvan</label>
                                            <input type="text" class="form-control" id="unvan" name="unvan" [(ngModel)]="kullanici.unvan" placeholder="Ünvanı">
                                        </div>

                                        <div class="form-group">
                                            <label for="ad">Adı</label>
                                            <input type="text" class="form-control" id="ad" name="ad" [(ngModel)]="kullanici.ad" placeholder="Adı">
                                        </div>
                                        <div class="form-group">
                                            <label for="digerAd">İkinci Adı</label>
                                            <input type="text" class="form-control" id="digerAd" name="digerAd" [(ngModel)]="kullanici.digerAd" placeholder="İkinci adı">
                                        </div>
                                        <div class="form-group">
                                            <label for="soyad">Soyadı</label>
                                            <input type="text" class="form-control" id="soyad" name="soyad" [(ngModel)]="kullanici.soyad" placeholder="Soyadı">
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>

                        </form>
                    </tab>
                    <tab heading="Resimleri Düzelt">
                        <h4>Fotoğraflarınız</h4>
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </tab>

                </tabset>
            </div>
        </div>
    </div>